# yaml-language-server: $schema=/workspaces/deploy-tools/src/deploy_tools/models/schemas/release.json

module:
  name: ec
  version: {{ name }}
  description: ec command line tool configured for {{ name }}
  allow_updates: true

  dependencies:
    - name: edge-containers-cli
    - name: {{ cluster_name }}
      version: local

  env_vars:
    - name: EC_TARGET
      value: {{ name }}-beamline/{{ name }}
    - name: EC_K8S_NAMESPACE
      value: {{ name }}-beamline
    - name: EC_SERVICES_REPO
      value: https://{{ organization }}/{{ name }}-services.git

  applications: []

  load_script:
    - system kubectl config set-context --current --namespace={{ name }}-beamline
